<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>San Valentin</title>
    <link rel='stylesheet' href='/stylesheets/instyle.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="shortcut icon" href="/images/corazon1.png" />
</head>
<body style="background-color: #ffa0bd;">
    <!-- sonido -->
    <embed src="/song/musica.mp3" autostart="true" loop="true" volume="20%" width="0" height="0">

    <!-- particulas -->
    <div id="particles-js"></div>

    <div class="titulo">
        <h1 class="display-3">Para: Gaby 游때</h1>
    </div>

    <div class="imgcarta">
        <img src="/images/carta.png"  alt="" height="700">
    </div>

    <div class="texto">
        <marquee behavior="" direction="up" height="380" scrollamount="1" style="text-align: justify; font-size: 30px;">
            <p>Hola 游땕, voy a tratar de plasmar mis pensamientos en esto, espero no te desagrade.</p>
            <br><br><br>
            <p>Puedo decir que no muchas cosas logran que me pierda en mis pensamientos, pocas cosas logran darme aun que sea un poco de inspiraci칩n, pocas personas llegan a importarme, por eso quiero decirte que tu eres una persona que me importan, que muchas veces me inundo en mis pensamientos con tu presencia en ellos, que muchas veces al pensarte me lleno de melancol칤a, ya que muchas veces tengo ganas de verte. </p>
            <p>Hay muchas cosas de las que no se, pero se una cosa, se que tu me gustas, se que cuando estoy contigo me siento bien, que cuando hablo contigo me siento c칩modo y sonri칩, que cuando mensajeo contigo sonri칩 inconscientemente, que con otra persona no me gustar칤a verte, que me gustar칤a estar contigo cada vez que quiero verte, que me gusta ver cada foto que compartes. </p>
            <p>Lo que siento por ti es algo que nunca antes hab칤a sentido por alguien m치s, mis sentimientos provocan que yo quisiera estar contigo pase lo que pase. Para m칤 no es f치cil expresarme, decir lo que siento, no es f치cil plasmar mis pensamientos, pero quiero que sepas que te quiero. :3 </p>
        </marquee>
    </div>

    <div class="boton">
        <a href="/posdata"> <button type="button" class="btn btn-danger">P.D.</button></a>
    </div>

    <!-- particulas -->
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="/javascripts/particula.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</body>
</html>